matplotlib==3.5.2
numpy==1.23.5
pandas==1.5.2
streamlit==1.15.2
streamlit_option_menu==0.3.2
yfinance==0.2.4
pyportfolioopt==1.5.4
Backtesting==0.3.3
bokeh==2.4.3
pandas-ta==0.3.14b0
streamlit-aggrid==0.3.3
tradingview-ta==3.3.0
prophet==1.1.1
tefas-crawler==0.3.3
